@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--bright-green: #9fbca0;
		--dark-green: #4f6550;
		--white-green: #c0cfc0;
	}
}

@layer base {
	* {
		@apply m-0 box-border scroll-smooth p-0;
	}

	body {
		@apply min-h-[100vh] list-none !overflow-x-hidden;
	}
}

@layer components {
	.header__link {
		@apply cursor-pointer font-cormorant_sc_medium text-[25px] text-white;
	}

	.input {
		@apply h-[45px] w-full rounded-[25px] bg-[#E6EDE6] px-[50px] font-raleway_regular text-[25px] text-black max-2xl:h-[35px] max-2xl:text-[20px];
	}

	.input__service {
		@apply h-[65px] text-[25px];
	}

	.input_profile {
		@apply h-[73px] w-full rounded-[25px] bg-green-bright px-[22px] font-cormorant_regular text-[25px] text-[#1D281D];
	}

	.input__message_error {
		@apply font-raleway_regular text-[14px] text-red-500;
	}

	.container {
		@apply mx-auto max-w-[1372px];
	}

	.title {
		@apply text-center font-cormorant_sc_regular text-[48px] text-black;
	}

	.aboutus__image {
		@apply transform rounded-[25px] object-cover object-top transition-transform duration-300 hover:scale-110;
	}

	.outTeam__skeleton {
		@apply h-[587px] w-[404px] rounded-[25px] bg-[#dcd9d4];
	}

	.goods__skeleton {
		@apply h-[697px] w-[403px] rounded-[25px] bg-[#dcd9d4];
	}

	.reviews__skeleton {
		@apply h-[380px] w-[415px] rounded-[25px] bg-[#dcd9d4];
	}

	.service__text {
		@apply text-start font-cormorant_regular text-[25px] font-medium text-black;
	}
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: #4f6550;
	border-radius: 20px;
}

::-webkit-scrollbar-track {
	background-color: #ffffff;
}
